
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 72px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

#header #logo{
    position: fixed;
    width: 170px;
    top: 0px;
}

#header #comp_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 10px 30px;
    font-size: 15px;
    color: #eb5d1e;
    white-space: nowrap;
    transition: 0.3s;
}

#header #nav_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #eb5d1e;
    white-space: nowrap;
    transition: 0.3s;
}

#header #nav_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #4e4039;
    white-space: nowrap;
    transition: 0.3s;
}

#header #nav_enroll {
    display: flex;
    align-items: center;
    background: #eb5d1e;
    color: #fff;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    margin-left: 30px;
    border-radius: 50px;
}

/* --------------------------------
>>home<<
---------------------------------*/

#home {
    align-items: center;
    background: #fff;
    color: #eb5d1e;
    font-size: 30px;
    /*margin-top: 4rem;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    opacity: 0.3;
    top: -400px;
}

#logo2 {
    position:absolute;
    top: 5px;
    align-items: center;
    vertical-align: middle;
    background-size: cover;
    opacity: 1.0;
    padding: 50px 100px;  
}



/* --------------------------------
>>About<<
---------------------------------*/

#about {
    display: flex;
    align-items: center;
    background: #eb5d1e;
    color: #fff;
    font-size: 30px;
    margin-bottom: 3rem;
    padding: 10px 0 10px 0;
}

/*--------------------------------------------------------------
# program Section
--------------------------------------------------------------*/
#program {
    width: 100%;
    height: 70vh;
    background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 - 72px 0;
}

#program h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #4e4039;
  }
  
  #program h2 {
      color: #a08f86;
      margin: 15px 0 0 0;
      font-size: 24px;
  }
  
  #program #details {
    color: #078099;
    line-height: 20px;
}

#program #cost {
    color: #fff;
    line-height: 20px;
    background: #eb5d1e;
    border-radius: 30px;
    padding: 100px 30px;
}

#program .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #eb5d1e;
}

#program .btn-get-started:hover {
    background: #ef7f4d;
}



@media (max-width: 991px) {
    #program {
        height: calc(100vh - 72px);
    }
    
    #program .animated {
      -webkit-animation: none;
      animation: none;
    }
  
    #program .program-img {
      text-align: center;
    }
  
    #program .program-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #program h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #program h2 {
      font-size: 18px;
      line-height: 24px;
    }
  
    #program .program-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #program .program-img img {
      width: 80%;
    }
  }
  
  @media (max-height: 600px) {
    #program {
      height: 120vh;
    }
  }

  @media (max-width: 991px) {
    #program {
      height: calc(100vh - 72px);
    }
  
    #program .animated {
      -webkit-animation: none;
      animation: none;
    }
  
    #program .program-img {
      text-align: center;
    }
  
    #program .program-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #program h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #program h2 {
      font-size: 18px;
      line-height: 24px;
    }
  
    #program .program-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #program .program-img img {
      width: 80%;
    }
  }
  
  @media (max-height: 600px) {
    #program {
      height: 120vh;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }  

  /**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #7a6960;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 20px;
    color: #078099;
  }

.marketing #image_robot {
    margin-bottom: 1.5rem;
    align-items: justify;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.marketing #details {
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 20px;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

.marketing #description {
    margin-bottom: 1.5rem;
    align-items: center;
    text-align: justify;
    line-height: 20px;
    color: #fff;
    background: #eb5d1e;
    border-radius: 30px;
    padding-top: 5%;
  }

  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    line-height: 20px;
  }

  #full_pay {
    background: #eb5d1e;
    color: #fff;
  }

  #installment_pay {
    background: #fff;
    color: #eb5d1e;
    border-color: #eb5d1e;
  }
  